@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
	--first-color: #2c2f75;
	--first-color-light: #afa5d9;
	--first-color-dark: #1a181d;
	--white-color: #f9f9fb;
	--body-font: "Nunito", sans-serif;
}

body {
	font-family: var(--body-font);
}

.nav-link.active {
	font-weight: bold;
	color: #2c2f75;
}

.navbar a {
	color: var(--first-color-dark);
	font-size: 17px;
	font-weight: 500;
	transition: all 0.5s ease;
}

.navbar a:hover {
	color: #2c2f75;
}

.navbar a.active {
	color: #2c2f75;
	font-weight: bold;
	border-bottom-color: #2c2f75;
}

@media (max-width: 768px) {
	.navbar-brand {
		display: none !important;
	}
}

.bg-first {
	background-color: var(--first-color) !important;
}
.border-first {
	border-color: var(--first-color) !important;
}
.bg-first:hover {
	background-color: #fff !important;
	color: var(--first-color-dark);
	transition: all 0.3s ease;
	text-decoration: underline;
}

.ft-btn {
	font-weight: 700;
}

.bg-second {
	background-color: #fff !important;
}
.bg-second:hover {
	background-color: var(--first-color) !important;
	color: #fff !important;
	transition: all 0.3s ease;
	text-decoration: underline;
}

.text-first {
	color: var(--first-color) !important;
}
